/*
Color Scheme: https://color.adobe.com/Gettysburg-color-theme-209416/

Red:        #962D3E
Dark Blue:  #343642
Gray:       #979C9C
Cream:      #F2EBC7
Blue:       #348899



*/


.top-bar
{
    background-color:#962D3E;
    height: 10px;
    width: 100%;
}
.line-2
{
    background-color:#348899;
    height: 10px;
    width: 100%;
}
.line-3
{
    background-color:#979C9C;
    height: 10px;
    width: 100%;
}

h1
{
    margin-bottom: 0;
    margin-top: 0;   
}

.name
{
    font-size: 3em;
    margin-left: 10px;
}

.personal-info > .email
{
    margin-left: 330px;
}

.personal-info
{
    background-color: #343642;
    color: #F2EBC7;
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 0;
    
}

.personal-info p
{
    margin-bottom: 0;
    margin-left: 10px;
    margin-top: 0;
}

.personal-links
{
    margin-top: 10px;
}

.purpose-skills
{
    background-color: #F2EBC7;
}